html {
  box-sizing: border-box;
  background-color: #fefeff;
  font-family: sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  display: flex;
  max-width: 1600px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
main section {
  flex: 1;
  width: 50%;
  padding: 20px;
}
@media (max-width: 1000px) {
  main {
    display: block;
  }
  main section {
    width: auto;
  }
}

h1 {
  font-size: 26px;
}
h2 {
  margin-top: 40px;
  font-size: 20px;
}
p {
  line-height: 1.5;
}

pre {
  width: 100%;
}

.dropdown {
  position: relative;
  width: 200px;
}

.dropdown > button {
  padding-left: 22px;
  padding-right: 22px;
  height: 36px;

  font-size: 14px;
  color: #042ea1;
  background-color: #e0e8ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.12s;
}

.dropdown ul {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  list-style: none;
  padding: 0;
  margin-top: 10px;

  background-color: white;
  border: 1px solid #f4f5fc;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.dropdown ul li button {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  margin: 0;

  font-size: 14px;
  text-align: left;
  border: none;
  cursor: pointer;
  background-color: white;
  transition: 0.12s;
}
.dropdown ul li button:hover {
  background-color: #e0e8ff;
}
